<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>

<body>
    
    <main>
        <div class="">
            <p>
                Armazenamento centralizado – os dados são armazenados numa única unidade
                integrada de armazenamento o que evita a redundância e inconsistência dos mesmos;
            </p>
            <p>Controlo centralizado – todo o acesso aos dados passa a ser controlada por uma única
                entidade, o sistema de gestão de base de dados (SGBD) o que permite actualizações e
                consultas simultâneas;</p>
            <p>
                A Independência de Dados refere-se à capacidade de modificar o esquema em um nível sem afetar o
                nível superior. Ela garante flexibilidade ao banco de dados, permitindo mudanças internas sem a
                necessidade de grandes alterações nos programas ou na forma como os dados são acessados.
            </p>
            <p>Ind. Física : Permite modificar o esquema físico (a maneira como os dados são armazenados
                fisicamente) sem alterar o modelo lógico.</p>
            <p>Ind. Lógica: Permite modificar o esquema lógico (estrutura de tabelas e relações) sem impactar os
                programas que acessam o banco de dados.</p>
        </div>
    </main>
</body>

</html>