<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"> <br>
        <label for="password">Palavra-Passe</label>
        <input type="password" name="password" id="password">
    </form>
    <p>
        <img src="../Assets/img/logo-black.svg" width="500" height="500" alt="logo da empresa">
    </p>
    <footer> 
        <p>&copy; Todos os direitos reservados à GM STORE.</p>
    </footer>
</body>
</html>