<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/CSS/style.css">
</head>
<body>
    <div class="">
        <p> Olá nós somos a GM STORE e somos uma loja/vitrine online 
            aonde poderás encontrar uma grande variedade de artigos 
            do tipo vestuário, estamos voltamos para o público jovem de Angola!
        </p> 
    </div>
    <p>
        <img src="../Assets/img/logo-black.svg" width="500" height="500" alt="logo da empresa">
    </p>
    <footer> 
        <p>&copy; Todos os direitos reservados à GM STORE.</p>
    </footer>
</body>
</html>