<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <main>
        <div class="">
            <img src="/assets/imgs/img.png" alt="imagm qlqr...">
        </div>
        <div class="">
            <div class="">
                <h1>Introdução</h1>
            </div>
            <div class="">
                <p>Dados – elementos ou valores discretos que isoladamente, não têm
                    qualquer significado específico. (Damas,2005)</p>
                <p>
                    Informação – resulta da transformação (ordenação, formatação) dos
                    dados de modo significativo. I.e, a informação tem que ser algo útil
                    para o utilizador, num determinado contexto.
                </p>
                <p>
                    Gestão – a necessidade de organizar a informação.
                </p>
                <p>
                    Compactação – não existe a necessidade de se usar arquivos em papel volumosos;
                </p>
                <p>Automatização – automatização de algumas tarefas referentes ao processamento
                    de dados;</p>
            </div>
        </div>
    </main>
</body>

</html>