<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.about</title>
</head>

<body>
    <header>
        <h1>
            VoidGames
        </h1>
        <h2>
            <a href="Home.html">Home</a>
            About
            <a href="Log_in.html">Log in</a>
            <a href="Sing_in.html">Sign in</a>
        </h2>
    </header>
    <main>
        <p>
            <br><br><br>
            <b>Marte</b> é um amante de jogos. Ao longo da sua vida, ele acumulou uma vasta coleção de jogos de
            diferentes plataformas: PC, PlayStation, Xbox e Switch. Com tantos, <b>Marte</b> começou a se perder — não
            lembrava mais quais jogos já havia terminado, quais queria começar e de quais desenvolvedores ele mais
            gostava.
            <br><br>
            Para resolver esse problema, <b>Marte</b> decidiu criar seu próprio sistema de Cadastro de Jogos.
            <br>
            Ele registra cada jogo que possui, informando o título, ano de lançamento, gênero, plataforma e o status (se
            já terminou, está jogando ou pretende jogar).
            <br>
            Relaciona cada jogo a um desenvolvedor, para poder descobrir, no futuro, quais estúdios ele mais aprecia.
            <br>
            Mantém atualizada a situação de sua coleção, podendo planejar melhor suas próximas jogatinas 

            Assim, <b>Marte</b> transformou sua paixão em organização — e seu pequeno projecto virou uma ferramenta essencial para
            curtir ainda mais o mundo dos games.


        </p>
        <img src="../assets/img/controller_02.png" alt="Controller">
        
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>