<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.home</title>
</head>

<body>
    <header>
        <header>
            <h1>
                VoidGames
            </h1>
            <h2>
                Home
                <a href="About.html">About</a>
                <a href="Contacts.html">Contacts</a>
                <a href="Log_in.html">Log in</a>
                <a href="Sing_in.html">Sign in</a>
                <a href="My_games.html">My Games</a>
                <a href="Wishlist.html">Whishlist</a>
            </h2>
        </header>
    </header>
    <main>
        <br><br>
        <img src="../assets/img/controller_06.jpg" alt="Controller">
        <br>
        <p>Nunca se deparou com problemas na hora de iniciar uma sessão de jogatina e não saber por onde começar?<br> Qual jogo está mais perto de terminar? <br>Qual o melhor para relaxar?<br>A VoidGames está aqui para resolver esse dilema. Venha saber mais</p>
        <a href="About.html">
            <button>Saber mais</button>
        </a>
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>