<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.home</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/home.css">
</head>

<body>
    <nav>
        <h3>
            <label class="logo">VoidGames</label>
            <ul>
                <li><a href="Home.html" class="active">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Contacts.html">Contacts</a></li>
                <li><a href="Log_in.html">Log in</a></li>
                <li><a href="Sing_in.html">Sign in</a></li>
                <li><a href="My_games.html">My Games</a></li>
                <li><a href="Wishlist.html">Whishlist</a></li>
            </ul>
        </h3>
    </nav>
    <main>

        <br>
        <p>Nunca se deparou com problemas na hora de iniciar uma sessão de jogatina e não saber por onde começar?<br> Qual jogo está mais perto de terminar? <br>Qual o melhor para relaxar?<br>A VoidGames está aqui para resolver esse dilema. Venha saber mais</p>
        <a href="About.html">
            <button>Saber mais</button>
        </a>
    </main>
    <br><br><br>
    <footer><p>Desenvolvedor --Marte--</p></footer>
</body>

</html>