<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.sign_in</title>
</head>

<body>
    <header>
        <h1>
            VoidGames
        </h1>
        <h2>
            <a href="Home.html">Home</a>
            <a href="About.html">About</a>
            Log in
            <a href="Sing_in.html">Sign in</a>
        </h2>
    </header>
    <main>
        <br><br><br>
        <form action="Home.html">
            <label for="">Nome de usuário</label><br>
            <input type="text">
            <br><br>
            <label for="">Palavra-passe</label><br>
            <input type="password">
            <br><br>
            <input type="submit">
            <p>Ainda não possui uma conta <a href="Sing_in.html">Crie uma</a></p>
        </form>
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>