<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Void.sign_in</title>
</head>

<body>
    <nav>
        <h3>
            <label class="logo">VoidGames</label>
            <ul>
                <li><a href="Home.html" >Home</a></li>
                <li><a href="About.html" >About</a></li>
                <li><a href="Contacts.html" >Contacts</a></li>
                <li><a href="Log_in.html" class="active">Log in</a></li>
                <li><a href="Sing_in.html">Sign in</a></li>
                <li><a href="My_games.html">My Games</a></li>
                <li><a href="Wishlist.html">Whishlist</a></li>
            </ul>
        </h3>
    </nav>
    <main>
        <br><br><br>
        <form id="log" action="Menu.html">
            <label class="top" for="">Log In</label><br>
            <label for="">Nome de usuário</label><br>
            <input type="text" id="usuario" required>
            <br><br>
            <label for="">Palavra-passe</label><br>
            <input type="password" id="senha" required>
            <br><br>
            <button class="void" type="submit">Entrar</button>
            <p>Ainda não possui uma conta <a href="Sing_in.html">Crie uma</a></p>
        </form>
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>
<script src="../assets/js/login.js"></script>
</html>