<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.home</title>
</head>

<body>
    <header>
        <header>
            <h1>
                VoidGames
            </h1>
            <h2>
                <a href="Home.html">Home</a>
                <a href="About.html">About</a>
                <a href="Log_in.html">Log in</a>
                <a href="Sing_in.html">Sign in</a>
                <a href="My_games.html">My Games</a>
                <a href="Wishlist.html">Whishlist</a>
            </h2>
        </header>
    </header>
    <main>
        <br><br>
        <h2>Seja bem vindo ao seu gerenciador de jogos</h2>
        <img src="../assets/img/controller_05.jpg" alt="Controller">
        <br>
        
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>