<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void.sign_in</title>
</head>

<body>
    <header>
        <h1>
            VoidGames
        </h1>
        <h2>
            <a href="Home.html">Home</a>
            <a href="About.html">About</a>
            <a href="Log_in.html">Log in</a>
            Sign in
        </h2>
    </header>
    <main>
        <br><br><br>
        <form action="Home.html">
            <label for="">Nome de usuário</label><br>
            <input type="text">

            <br><br>

            <label for="">Nova palavra-passe</label><br>
            <input type="password">

            <br><br>

            <label for="">Idade</label><br>
            <input type="number">
            <h3>Selecione o seu continente</h3>
            <label for="">
                <input type="radio" name="continente">Africa
            </label> <br>
            <label for="">
                <input type="radio" name="continente">Europa
            </label> <br>
            <label for="">
                <input type="radio" name="continente">America
            </label><br>
            <label for="">
                <input type="radio" name="continente">Asia
            </label>
            <h3>Selecione as suas plataformas favoritas</h3>
            <label for="">
                <input type="checkbox" name="plataforma">PC
            </label> <br>
            <label for="">
                <input type="checkbox" name="plataforma">Xbox
            </label> <br>
            <label for="">
                <input type="checkbox" name="plataforma">PlayStation
            </label><br>
            <label for="">
                <input type="checkbox" name="plataforma">Mobile
            </label><br>
            <label for="">
                <input type="checkbox" name="plataforma">Switch
            </label>
            <br><br>
            <input type="submit">
            <p>Já possui uma conta <a href="Log_in.html">Entre</a></p>
        </form>
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>