<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/signin.css">
    <title>Void.sign_in</title>
</head>

<body>
    <nav>
        <h3>
            <label class="logo">VoidGames</label>
            <ul>
                <li><a href="Home.html" >Home</a></li>
                <li><a href="About.html" >About</a></li>
                <li><a href="Contacts.html">Contacts</a></li>
                <li><a href="Log_in.html">Log in</a></li>
                <li><a href="Sing_in.html" class="active">Sign in</a></li>
                <li><a href="My_games.html">My Games</a></li>
                <li><a href="Wishlist.html">Whishlist</a></li>
            </ul>
        </h3>
    </nav>
    <main>
        <br><br><br>
        <form action="Menu.html">
            <label class="top" for="">Sign In</label><br>
            <label for="">Nome de usuário</label><br>
            <input type="text">

            <br><br>

            <label for="">Nova palavra-passe</label><br>
            <input type="password">

            <br><br>

            <label for="">Idade</label><br>
            <input type="number">
            <br><br>
            <h3>Selecione o seu continente</h3>
            <label for="">
                <input type="radio" name="continente">Africa
            </label> <br>
            <label for="">
                <input type="radio" name="continente">Europa
            </label> <br>
            <label for="">
                <input type="radio" name="continente">America
            </label><br>
            <label for="">
                <input type="radio" name="continente">Asia
            </label>
            <br><br>
            <h3>Selecione as suas plataformas favoritas</h3>
            <label for="">
                <input type="checkbox" name="plataforma">PC
            </label> <br>
            <label for="">
                <input type="checkbox" name="plataforma">Xbox
            </label> <br>
            <label for="">
                <input type="checkbox" name="plataforma">PlayStation
            </label><br>
            <label for="">
                <input type="checkbox" name="plataforma">Mobile
            </label><br>
            <label for="">
                <input type="checkbox" name="plataforma">Switch
            </label>
            <br><br>
            <input class="void" type="submit">
            <p>Já possui uma conta <a href="Log_in.html">Entre</a></p>
        </form>
    </main>
    <br><br><br>
    <footer>Desenvolvedor --Marte--</footer>
</body>

</html>