:root{
    --footer-background--:#b50000;
    --a-background--:#e90000;
    --body-background--:#090909;
    --text-color--:#f1f1f1;
  }
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
footer{
    background: var(--footer-background--);
    padding: 10px;
}